{% extends 'base.html.twig' %}

{% block title %}Reservar{% endblock %}

{% block body %}
<section class="site-hero inner-page overlay" style="background-image: url({{asset('imagenes/Fondo_pagina.jpg')}})" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade">
            <h1 class="heading mb-3">Realizar reserva</h1>
            
          </div>
        </div>
      </div>

      <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>
    <!-- END section -->


    
        
        
    <section class="section contact-section" id="next">
      <div class="container">
        <div class="row">
          <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">
            
            <form class="bg-white p-md-5 p-4 mb-5 border">
            <h2>Datos de reserva</h2>
            <label>Id usuario:</label>
            <input type="text" id="id_usuario" class="form-control" value="{{app.user.id}}" readonly>
              <div class="row">
                <div class="col-md-6 form-group">
                  <label class="text-black font-weight-bold" for="name">Numero de Habitacion:</label>
                  <input type="text" class="form-control" id="Numero_habitacion" readonly>
                  
                </div>
                <div class="col-md-6 form-group">
                  <label class="text-black font-weight-bold" for="phone">Tipo:</label>
                  <input type="text" id="tipo" class="form-control "readonly>
                </div>
              </div>
          
              <div class="row">
                <div class="col-md-6 form-group">
                  <label class="text-black font-weight-bold" for="email">Fecha de Inicio:</label>
                  
                  
                  <input class="form-control" id="fecha_inicio" readonly>
                </div>
                <div class="col-md-6 form-group">
                  <label class="text-black font-weight-bold" for="email">Fecha  de Salida:</label>
    
                  <input class="form-control" id="fecha_fin" readonly>
                </div>
              </div>
            

              

              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="adults" class="font-weight-bold text-black">Adultos</label>
                  
                  <input class="form-control" id="adultos" readonly>
                  
                </div>
                <div class="col-md-6 form-group">
                  <label for="children" class="font-weight-bold text-black">Niños</label>
                  <input class="form-control" id="menores" readonly>
                </div>
              </div>
            </form>


              



              

              
              
           

          </div>
          <div class="col-md-5" data-aos="fade-up" data-aos-delay="100">
          <form class="bg-white p-md-5 p-4 mb-5 border">
            <h2>Precio Final: <span id="precio"></span></h2>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label class="text-black font-weight-bold" for="name">Numero de Tarjeta:</label>
                  <input type="text" class="form-control" id="Numero_tarjeta" required>
                  
                </div>
                
              </div>
          
              <div class="row">
                <div class="col-md-12 form-group">
                  <label class="text-black font-weight-bold" for="email">Titular de la tarjeta:</label>
                  
                  
                  <input class="form-control" id="Titular_tarjeta" required>
                </div>
                
              </div>
            

              

              <div class="row">
                <div class="col-md-8 form-group">
                  <label for="adults" class="font-weight-bold text-black">Codigo de seguridad:</label>
                  
                  <input class="form-control" id="Codigo_tarjeta" required>
                  
                </div>
                
              </div>
              <input type="submit" class="btn btn-lg btn-primary" id="reservar" value="reservar y pagar">
            </form>
              

          </div>
          
         
        </div>
      </div>
    </section>

    

    
    
    
{% endblock %}
{% block javascripts%}
{{parent()}}
<script src="{{asset('js/configurar_fecha.js')}}"></script>
<script src="{{asset('js/rellenaDatosHabitacion.js')}}"></script>

{% endblock %}
