{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}


{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{asset('css/video_modal.css')}}">
{% endblock %}


{% block header %}
  {{ parent() }}
{% endblock %}
{% block body %}
<body>
    
    

    <section class="site-hero overlay" style="background-image: url({{asset('imagenes/Fondo_pagina.jpg')}})" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade-up">
            <span class="custom-caption text-uppercase text-white d-block  mb-3">Bienvenido al paraiso de 5 estrellas <span class="fa fa-star text-primary"></span></span>
            <h1 class="heading">El mejor lugar donde pasar sus vacaciones</h1>
          </div>
        </div>
      </div>

      <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>
    <!-- END section -->

<div class="modal" id="modalVideo">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4>Hotel Royal Palace</h4>
                    
                  </div>
                  <div class="modal-body">
                    <video id="video_de_hotel" autoplay="" width="100%" heigth="auto" controls="">
                      <source  src="{{asset('Videos/Video_hotel.mp4')}}" type="video/mp4">
                    </video>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="genric-btn primary-border circle arrow" id="cierra_modal" data-dimiss="modal">Cerrar</button>
                  </div>
                </div>              
              </div>
            </div>
    <section class="section bg-light pb-0"  >
      <div class="container">
       
        <div class="row check-availabilty" id="next">
          <div class="block-32" data-aos="fade-up" data-aos-offset="-200">

            <form action="#">
              <div class="row">
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkin_date" class="font-weight-bold text-black">Fecha de entrada</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="text" id="checkin_date" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkout_date" class="font-weight-bold text-black">Fecha de salida</label>
                  <div class="field-icon-wrap">
                    <div class="icon"><span class="icon-calendar"></span></div>
                    <input type="text" id="checkout_date" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                  <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="adults" class="font-weight-bold text-black">Adultos</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="adults" class="form-control">
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4+</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label for="children" class="font-weight-bold text-black">Niños</label>
                      <div class="field-icon-wrap">
                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                        <select name="" id="children" class="form-control">
                          <option value="">1</option>
                          <option value="">2</option>
                          <option value="">3</option>
                          <option value="">4+</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3 align-self-end">
                  <button class="btn btn-primary btn-block text-white">Comprobar disponibilidad</button>
                </div>
              </div>
            </form>
          </div>


        </div>
      </div>
    </section>

    <section class="py-5 bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-7 ml-auto order-lg-2 position-relative mb-5" data-aos="fade-up">
            <figure class="img-absolute">
              <img src="{{asset('imagenes/exterior.jpg')}}" alt="Image" class="img-fluid">
            </figure>
            <img src="{{asset('imagenes/marbella.jpg')}}" alt="Image" class="img-fluid rounded">
          </div>
          <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
            <h2 class="heading">Bienvenido</h2>
            <p class="mb-4">El Hotel Royal Palace abrió sus puertas hace mas de 30 años en el pueblo de Marbella, enfocado unicamente a la nata y la crema de la sociedad, hoy en dia el hotel ha sido remodelado y enfocado mas ampliamente paraa que todos, independientemente de su situación,puedan disfrutar de unas vacaciones de 5 estrellas en La Costa Del Sol</p>
            <button type="button" class="btn btn-primary btn-block text-white" id="muestra_video">Ver video promocional</button>



            


          
          </div>

    </div>
  </div>
</div> 
  
  
  

               
           
            
          
    

    <section class="section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
            <h2 class="heading" data-aos="fade-up">Habitaciones</h2>
            <p data-aos="fade-up" data-aos-delay="100">Explore nuestro amplio abanico de habitaciones a su disposición</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <div id="contenimagen0"></div>
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo0"></h2>
                
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <div id="contenimagen1"></div>
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo1"></h2>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                  <div id="contenimagen3"></div>
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo3"></h2>
                
              </div>
            </a>
          </div>


        </div>
      </div>
    </section>
    
    
    <section class="section slider-section bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
            <h2 class="heading" data-aos="fade-up">Fotos</h2>
            <p data-aos="fade-up" data-aos-delay="100">Observe unas fotos del Hotel y de sus instalaciones</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="home-slider major-caousel owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
              <div class="slider-item">
                <a href="{{asset('imagenes/slider-1.jpg')}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{asset('imagenes/slider-1.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{{asset('imagenes/slider-2.jpg')}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{asset('imagenes/slider-2.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{{asset('imagenes/slider-3.jpg')}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{asset('imagenes/slider-3.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{{asset('imagenes/slider-4.jpg')}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{asset('imagenes/slider-4.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{{asset('imagenes/slider-5.jpg')}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{asset('imagenes/slider-5.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{{asset('imagenes/slider-6.jpg')}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{asset('imagenes/slider-6.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              </div>
              <div class="slider-item">
                <a href="{{asset('imagenes/slider-7.jpg')}}" data-fancybox="images" data-caption="Caption for this image"><img src="{{asset('imagenes/slider-7.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              </div>
            </div>
            <!-- END slider -->
          </div>
        
        </div>
      </div>
    </section>
    <!-- END section -->
    
    
    
    
    <section class="section testimonial-section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
            <h2 class="heading" data-aos="fade-up">Nuestro equipo</h2>
          </div>
        </div>
        <div class="row">
          <div class="js-carousel-2 owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">
            
            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="{{asset('imagenes/kico.jpg')}}" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>

                <p>Lo he dado todo para la realizacion de esta pagina web</p>
              </blockquote>
              <p><em>&mdash; Fco Jose de la Torre Urea<br>-Programador Web</em></p>
            </div> 

            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="{{asset('imagenes/person_2.jpg')}}" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>
                <p>Me encargo de gestionar la limpieza de las habitaciones</p>
              </blockquote>
              <p><em>&mdash;Andrés Montoya <br>-Gestion de Limpiezas</em></p>
            </div>

            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="{{asset('imagenes/person_3.jpg')}}" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>

                <p>&ldquo;Me encargo de que la comida sea excepcional&rdquo;</p>
              </blockquote>
              <p><em>&mdash;Ernesto Díaz <br>-Chef</em></p>
            </div>


            <div class="testimonial text-center slider-item">
              <div class="author-image mb-3">
                <img src="{{asset('imagenes/person_1.jpg')}}" alt="Image placeholder" class="rounded-circle mx-auto">
              </div>
              <blockquote>

                <p>&ldquo;Soy la encargada de seguridad del Hotel&rdquo;</p>
              </blockquote>
              <p><em>&mdash;Maria Sanches <br>-Encargada de seguridad</em></p>
            </div> 

            

            

          </div>
            <!-- END slider -->
        </div>

      </div>
    </section>
    

    <section class="section blog-post-entry bg-light">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-7">
            <h2 class="heading" data-aos="fade-up">Instalaciones</h2>
            <p data-aos="fade-up">Un brebe repaso de todas las instalaciones del hotel</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="100">

            <div class="media media-custom d-block mb-4 h-100">
              <a href="#" class="mb-4 d-block"><img src="{{asset('imagenes/piscina.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="media-body">
                <h2 class="mt-0 mb-3"><a href="#">Piscina</a></h2>
                <p>Piscina climatizada al aire libre, con un espacio mas elevado para niños y un espacio mas profundo para adultos.</p>
              </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="200">
            <div class="media media-custom d-block mb-4 h-100">
              <a href="#" class="mb-4 d-block"><img src="{{asset('imagenes/gimnasio.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="media-body">
                <h2 class="mt-0 mb-3"><a href="#">Gimnasio</a></h2>
                <p>Para los amantes del deporte,unas instalaciones para hacer deporte de peso y cardiovascular</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="300">
            <div class="media media-custom d-block mb-4 h-100">
              <a href="#" class="mb-4 d-block"><img src="{{asset('imagenes/discoteca.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
              <div class="media-body">
                <h2 class="mt-0 mb-3"><a href="#">Discoteca</a></h2>
                <p>Para los mas fiesteros, una discoteca multitematica con DJs invitados</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section bg-image overlay" style="background-image: url({{asset('imagenes/hero_4.jpg')}});">
        <div class="container" >
          <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
              <h2 class="text-white font-weight-bold">El paraiso está al alcance de su mano</h2>
            </div>
            <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
              <a href="reservation.html" class="btn btn-outline-white-primary py-3 text-white px-5">Reserve</a>
            </div>
          </div>
        </div>
      </section>

    
</body>
{% endblock %}
{% block footer %}{{parent()}}{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{asset('js/MuestraHabitaciones.js')}}"></script>
  <script src="{{asset('js/video_modal.js')}}"></script>
{% endblock %}


