{% extends 'base.html.twig' %}

{% block title %}Mis reservas{% endblock %}


{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{asset('css/datatables.min.css')}}">
{% endblock %}

{% block body %}
    <section class="site-hero inner-page overlay" style="background-image: url(imagenes/hero_4.jpg)" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade">
            <h1 class="heading mb-3">Mi perfil</h1>
            
          </div>
        </div>
      </div>

      <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/perfil">Mi Perfil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/perfil/datos/personales">Datos personales <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Mis Reservas</a>
      </li>
      
      {# <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> #}
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
    <div class="col-md-4">
        <form>
        <label>Id de usuario:</label>
            <input value="{{app.user.id}}" id="id_usuario" class="form-control" readonly>
        </form>
    </div>
</div>
  <div class="row">
    <div class="col-12"></div>
  </div>
</div>

<div class="container bg-light">
  <table id="tabla">
    <thead>
      <th>Numero de habitación</th>
      <th>Precio</th>
      <th>Fecha de reserva</th>
      <th>Fecha de entrada</th>
      <th>Fecha de salida</th>
      <th>Adultos</th>
      <th>Menores</th>
    </thead>
    <tbody id="tbody">
      
    </body>
  </table>
  
  
</div>
{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{asset('js/tablas.js')}}"></script>
  <script src="{{asset('js/datatables.min.js')}}"></script>
  <script src="{{asset('js/rellenaReservas.js')}}"></script>
{% endblock %}
