<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hotel{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">

            <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/animate.css')}}">
            <link rel="stylesheet" href="{{asset('css/owl.carousel.min.css')}}">
            <link rel="stylesheet" href="{{asset('css/aos.css')}}">
            <link rel="stylesheet" href="{{asset('css/bootstrap-datepicker.css')}}">
            <link rel="stylesheet" href="{{asset('css/jquery.timepicker.css')}}">
            
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
            
            
            <link rel="stylesheet" href="{{asset('fuentes/ionicons/css/ionicons.min.css')}}">
            <link rel="stylesheet" href="{{asset('fuentes/fontawesome/css/font-awesome.min.css')}}">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
            
            
            

           
        {% endblock %}

        
    </head>
    <body>
        {% block header %}
          <header class="site-header js-site-header">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-6 col-lg-4 site-logo" data-aos="fade"><a href="/">Hotel Royal Palace</a></div>
          <div class="col-6 col-lg-8">


            <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <!-- END menu-toggle -->

            <div class="site-navbar js-site-navbar">
              <nav role="navigation">
                <div class="container">
                  <div class="row full-height align-items-center">
                    <div class="col-md-6 mx-auto">
                      <ul class="list-unstyled menu">
                        <li class="active"><a href="/">Inicio</a></li>
                        <li><a href="/habitacion">Habitaciones</a></li>
                        <li><a href="/ojea/habitaciones">Reservar</a></li>
                        <li><a href="/perfil">Perfil</a></li>
                        <li><a href="/register">Iniciar Sesion/Registrarse</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
          <footer class="section footer-section">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-3 mb-5">
            <ul class="list-unstyled link">
              <li><a href="#">Sobre nosotros</a></li>
              <li><a href="#">Términos y condiciones</a></li>
              <li><a href="#">Politica de privacidad</a></li>
             <li><a href="/habitacion">Habitaciones</a></li>
            </ul>
          </div>
          <div class="col-md-3 mb-5">
            
          </div>
          <div class="col-md-3 mb-5 pr-md-5 contact-info">
            <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
            <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Dirección:</span> <span> Calle Francisco Villalon , 29660 Marbella (Puerto Banus), Málaga</span></p>
            <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Teléfono:</span> <span> (+34) 953 27 85 10</span></p>
            <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span> HotelRoyalPalace@gmail.com</span></p>
          </div>
        </div>
        <div class="row pt-5">
          
            
          <p class="col-md-6 text-right social">
            <a href="https://www.tripadvisor.es/"><span class="fa fa-tripadvisor"></span></a>
            <a href="https://es-es.facebook.com/"><span class="fa fa-facebook"></span></a>
            <a href="https://twitter.com/?lang=es"><span class="fa fa-twitter"></span></a>
            
          </p>
        </div>
      </div>
    </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="{{asset('js/jquery-3.3.1.min.js')}}"></script>
            <script src="{{asset('js/jquery-migrate-3.0.1.min.js')}}"></script>
            <script src="{{asset('js/popper.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
            <script src="{{asset('js/owl.carousel.min.js')}}"></script>
            <script src="{{asset('js/jquery.stellar.min.js')}}"></script>
            <script src="{{asset('js/jquery.fancybox.min.js')}}"></script>
            <script src="{{asset('js/aos.js')}}"></script>
            <script src="{{asset('js/bootstrap-datepicker.js')}}"></script>
            <script src="{{asset('js/jquery.timepicker.min.js')}}"></script>
            <script src="{{asset('js/main.js')}}"></script>
            <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
