{% extends 'base.html.twig' %}

{% block title %}Habitaciones{% endblock %}


{% block header %}{{parent()}}{% endblock %}


{% block body %}
<section class="site-hero overlay" style="background-image: url({{asset('imagenes/fondo_pagina.jpg')}})" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade-up">
            <span class="custom-caption text-uppercase text-white d-block  mb-3">Bienvenido al paraiso de 5 estrellas <span class="fa fa-star text-primary"></span></span>
            <h1 class="heading">Habitaciones</h1>
          </div>
        </div>
      </div>

      <a class="mouse smoothscroll" href="#next">
        <div class="mouse-icon">
          <span class="mouse-wheel"></span>
        </div>
      </a>
    </section>

  

  
    

    <img id="loading" src="{{asset('imagenes/loading.gif')}}">
    <section class="section">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6 col-lg-6 mb-5" id="0" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <div id="contenimagen0"></div>
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo0"></h2>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-6 mb-5" id="1"  data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
              <div id="contenimagen1"></div>
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo1"></h2>
                
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-6 mb-5" id="2" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <div id="contenimagen2"></div>
                
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo2"></h2>
                
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-6 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <div id="contenimagen3"></div>
                
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo3"></h2>
                
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-6 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <div id="contenimagen4"></div>
                
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo4"></h2>
              </div>
            </a>
          </div>

          <div class="col-md-6 col-lg-6 mb-5" data-aos="fade-up">
            <a href="#" class="room">
              <figure class="img-wrap">
                <div id="contenimagen5"></div>
              </figure>
              <div class="p-3 text-center room-info">
                <h2 id="tipo5"></h2>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>
    
    

    <section class="section bg-image overlay" style="background-image: url('imagenes/hero_4.jpg');">
      <div class="container" >
        <div class="row align-items-center">
          <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
            <h2 class="text-white font-weight-bold">El paraiso está al alcance de su mano</h2>
          </div>
          <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
            <a href="/reserva" class="btn btn-outline-white-primary py-3 text-white px-5">Reserva ahora</a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block footer %}{{parent()}}{% endblock %}

{% block javascripts %}
  {{parent()}}
  <script src="{{asset('js/MuestraHabitaciones.js')}}"></script>
  
{% endblock %}
